:root {
  --red: #ef4423;
  --grey: #adadad;
  --green: #3dbdb6;
  --place-red: #ea1d63;
  --blue: #44bfb9;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw !important;
}
html, body {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  outline: none;
  border: none;
}
input {
  outline: none;
}
.grey-text {
  color: var(--grey);
}
.green-text {
  color: var(--green);
}
.d-red-text {
  color: var(--place-red);
}
.red-text {
  color: var(--red);
}